.product-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 0;
  width: 15rem;
  /* max-width: 20rem; */
}

img {
  width: 10rem;
  margin: auto;
}

.description {
  padding: 0.5rem;
}

.bt-container {
  justify-items: flex-end;
}