<!-- <ul>
  <li *ngFor="let product of products">
    {{ product.name }}
    {{ product.price }}
  </li>
</ul> -->

<mat-card *ngFor="let product of products" class="product-container">
  <mat-title>{{ product.name }}</mat-title>
  <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
  <img mat-card-image [src]="product.image" alt="foto" >
  <mat-card-content>{{ product.descrition }}</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      Detalhes
    </button>
    <button mat-button color="warn">
      Excluir
    </button>
  </mat-card-actions>

</mat-card>
