.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3ecec;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-width: 150px;
}

.material-icons {
  padding-right: 5px;
	color: #c81280;
}
